CourtOpinion.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by DTDinst version 2002-07-24. -->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
<!--Description:
Version:
Copyright:
Author:

Public Identifier:

-->
  <define name="text">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="cite"/>
        <ref name="quote"/>
        <ref name="footnote"/>
        <ref name="underline"/>
        <ref name="italics"/>
        <ref name="graphic"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="fntext">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="cite"/>
        <ref name="quote"/>
        <ref name="underline"/>
        <ref name="italics"/>
        <ref name="graphic"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="case">
    <element name="case">
      <ref name="header"/>
      <oneOrMore>
        <ref name="opinion"/>
      </oneOrMore>
    </element>
  </define>
  <define name="header">
    <element name="header">
      <ref name="court"/>
      <ref name="jurisdiction"/>
      <ref name="docket_number"/>
      <oneOrMore>
        <ref name="parties"/>
      </oneOrMore>
      <optional>
        <ref name="prior_court"/>
      </optional>
      <zeroOrMore>
        <ref name="prior_jurisdiction"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="judges"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="counsel"/>
      </zeroOrMore>
      <ref name="decision_date"/>
    </element>
  </define>
  <define name="opinion">
    <element name="opinion">
      <oneOrMore>
        <ref name="author"/>
      </oneOrMore>
      <zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="section"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="paragraph"/>
          </zeroOrMore>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="court">
    <element name="court">
      <text/>
    </element>
  </define>
  <define name="jurisdiction">
    <element name="jurisdiction">
      <text/>
    </element>
  </define>
  <define name="docket_number">
    <element name="docket_number">
      <text/>
    </element>
  </define>
  <define name="parties">
    <element name="parties">
      <optional>
        <attribute name="status">
          <choice>
            <value>plaintiff</value>
            <value>defendant</value>
            <value>appellee</value>
            <value>appellant</value>
            <value>appellee-def</value>
            <value>appellee-plain</value>
            <value>appellant-def</value>
            <value>appellant-palin</value>
            <value>appellee-amicus</value>
            <value>appellant-amicus</value>
            <value>amicus</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="prior_court">
    <element name="prior_court">
      <text/>
    </element>
  </define>
  <define name="prior_jurisdiction">
    <element name="prior_jurisdiction">
      <text/>
    </element>
  </define>
  <define name="judges">
    <element name="judges">
      <optional>
        <attribute name="title">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
<!--For court specific titles such as 'Chief Judge', etc.-->
  <define name="counsel">
    <element name="counsel">
      <optional>
        <attribute name="status">
          <choice>
            <value>plaintiff</value>
            <value>defendant</value>
            <value>appellee</value>
            <value>appellant</value>
            <value>appellee-def</value>
            <value>appellee-plain</value>
            <value>appellant-def</value>
            <value>appellant-palin</value>
            <value>appellee-amicus</value>
            <value>appellant-amicus</value>
            <value>amicus</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
<!--For status of parties and their counsel-->
  <define name="decision_date">
    <element name="decision_date">
      <text/>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <text/>
    </element>
  </define>
  <define name="section">
    <element name="section">
      <text/>
    </element>
  </define>
  <define name="paragraph">
    <element name="paragraph">
      <ref name="text"/>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <text/>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="cite"/>
          <ref name="footnote"/>
          <ref name="underline"/>
          <ref name="italics"/>
          <ref name="graphic"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="footnote">
    <element name="footnote">
      <optional>
        <attribute name="fnumber">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="fntext"/>
    </element>
  </define>
<!--Unique number in document for each footnote.-->
  <define name="underline">
    <element name="underline">
      <optional>
        <attribute name="ambig"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="italics">
    <element name="italics">
      <text/>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <empty/>
    </element>
  </define>
  <start>
    <choice>
      <ref name="case"/>
    </choice>
  </start>
</grammar>
