CourtOpinion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by DTDinst version 2002-07-24. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="text" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="cite"/>
      <xs:element ref="quote"/>
      <xs:element ref="footnote"/>
      <xs:element ref="underline"/>
      <xs:element ref="italics"/>
      <xs:element ref="graphic"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="fntext" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="cite"/>
      <xs:element ref="quote"/>
      <xs:element ref="underline"/>
      <xs:element ref="italics"/>
      <xs:element ref="graphic"/>
    </xs:choice>
  </xs:complexType>
  <!-- XML DTD for case report markup. version .01. Prepared by Elmer Masters -->
  <xs:element name="case">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element maxOccurs="unbounded" ref="opinion"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="court"/>
        <xs:element ref="jurisdiction"/>
        <xs:element ref="docket_number"/>
        <xs:element maxOccurs="unbounded" ref="parties"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="prior_court"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="prior_jurisdiction"/>
        <xs:element maxOccurs="unbounded" ref="judges"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="counsel"/>
        <xs:element ref="decision_date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opinion">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="section"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="paragraph"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="court" type="xs:string"/>
  <xs:element name="jurisdiction" type="xs:string"/>
  <xs:element name="docket_number" type="xs:string"/>
  <xs:element name="parties">
    <xs:complexType mixed="true">
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plaintiff"/>
            <xs:enumeration value="defendant"/>
            <xs:enumeration value="appellee"/>
            <xs:enumeration value="appellant"/>
            <xs:enumeration value="appellee-def"/>
            <xs:enumeration value="appellee-plain"/>
            <xs:enumeration value="appellant-def"/>
            <xs:enumeration value="appellant-palin"/>
            <xs:enumeration value="appellee-amicus"/>
            <xs:enumeration value="appellant-amicus"/>
            <xs:enumeration value="amicus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="prior_court" type="xs:string"/>
  <xs:element name="prior_jurisdiction" type="xs:string"/>
  <xs:element name="judges">
    <xs:complexType mixed="true">
      <xs:attribute name="title" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- For court specific titles such as 'Chief Judge', etc. -->
  <xs:element name="counsel">
    <xs:complexType mixed="true">
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plaintiff"/>
            <xs:enumeration value="defendant"/>
            <xs:enumeration value="appellee"/>
            <xs:enumeration value="appellant"/>
            <xs:enumeration value="appellee-def"/>
            <xs:enumeration value="appellee-plain"/>
            <xs:enumeration value="appellant-def"/>
            <xs:enumeration value="appellant-palin"/>
            <xs:enumeration value="appellee-amicus"/>
            <xs:enumeration value="appellant-amicus"/>
            <xs:enumeration value="amicus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!-- For status of parties and their counsel -->
  <xs:element name="decision_date" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="section" type="xs:string"/>
  <xs:element name="paragraph" type="text"/>
  <xs:element name="cite" type="xs:string"/>
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="cite"/>
        <xs:element ref="underline"/>
        <xs:element ref="italics"/>
        <xs:element ref="graphic"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="fntext">
          <xs:attribute name="fnumber" use="required" type="xs:ID"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- Unique number in document for each footnote. -->
  <xs:element name="underline" type="xs:string"/>
  <xs:element name="italics" type="xs:string"/>
  <xs:element name="graphic">
    <xs:complexType/>
  </xs:element>
</xs:schema>
