CourtOpinion.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by DTDinst version 2002-07-24. -->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
<!--<!DOCTYPE case [-->
  <define name="case">
    <element name="case">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <ref name="header"/>
      <oneOrMore>
        <ref name="opinion"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="concurr"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="dissent"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="header">
    <element name="header">
      <ref name="ct_info"/>
      <ref name="pty_info"/>
      <ref name="dock_info"/>
      <ref name="date_info"/>
      <ref name="judge_info"/>
    </element>
  </define>
  <define name="opinion">
    <element name="opinion">
      <oneOrMore>
        <ref name="author"/>
      </oneOrMore>
      <zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="section"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="paragraph"/>
          </zeroOrMore>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="concurr">
    <element name="concurr">
      <oneOrMore>
        <ref name="author"/>
      </oneOrMore>
      <zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="section"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="paragraph"/>
          </zeroOrMore>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="dissent">
    <element name="dissent">
      <oneOrMore>
        <ref name="author"/>
      </oneOrMore>
      <zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="section"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="paragraph"/>
          </zeroOrMore>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="ct_info">
    <element name="ct_info">
      <ref name="court"/>
      <zeroOrMore>
        <ref name="prior_court"/>
      </zeroOrMore>
      <ref name="jurisdiction"/>
      <zeroOrMore>
        <ref name="prior_jurisdiction"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="pty_info">
    <element name="pty_info">
      <oneOrMore>
        <ref name="parties"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="counsel"/>
      </zeroOrMore>
      <ref name="appearance"/>
    </element>
  </define>
  <define name="dock_info">
    <element name="dock_info">
      <zeroOrMore>
        <ref name="docket_number"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="prior_docket_number"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="date_info">
    <element name="date_info">
      <oneOrMore>
        <ref name="decision_date"/>
      </oneOrMore>
    </element>
  </define>
  <define name="judge_info">
    <element name="judge_info">
      <oneOrMore>
        <ref name="judges"/>
      </oneOrMore>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <attribute name="title">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="judgeid">
          <data type="IDREFS"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="section">
    <element name="section">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="paragraph">
    <element name="paragraph">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ambig"/>
      </optional>
      <optional>
        <attribute name="paraid">
          <data type="IDREFS"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="cite"/>
          <ref name="quote"/>
          <ref name="footnote"/>
          <ref name="underline"/>
          <ref name="party_ref"/>
          <ref name="italics"/>
          <ref name="graphic"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="court">
    <element name="court">
      <text/>
    </element>
  </define>
  <define name="prior_court">
    <element name="prior_court">
      <text/>
    </element>
  </define>
  <define name="jurisdiction">
    <element name="jurisdiction">
      <text/>
    </element>
  </define>
  <define name="prior_jurisdiction">
    <element name="prior_jurisdiction">
      <text/>
    </element>
  </define>
  <define name="parties">
    <element name="parties">
      <optional>
        <attribute name="status">
          <choice>
            <value>plaintiff</value>
            <value>defendant</value>
            <value>appellee</value>
            <value>appellant</value>
            <value>appellee-def</value>
            <value>appellee-plain</value>
            <value>appellant-def</value>
            <value>appellant-palin</value>
            <value>appellee-amicus</value>
            <value>appellant-amicus</value>
            <value>amicus</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="counsel">
    <element name="counsel">
      <optional>
        <attribute name="status">
          <choice>
            <value>plaintiff</value>
            <value>defendant</value>
            <value>appellee</value>
            <value>appellant</value>
            <value>appellee-def</value>
            <value>appellee-plain</value>
            <value>appellant-def</value>
            <value>appellant-palin</value>
            <value>appellee-amicus</value>
            <value>appellant-amicus</value>
            <value>amicus</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="appearance">
    <element name="appearance">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="status">
          <choice>
            <value>plaintiff</value>
            <value>defendant</value>
            <value>appellee</value>
            <value>appellant</value>
            <value>appellee-def</value>
            <value>appellee-plain</value>
            <value>appellant-def</value>
            <value>appellant-palin</value>
            <value>appellee-amicus</value>
            <value>appellant-amicus</value>
            <value>amicus</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="docket_number">
    <element name="docket_number">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="prior_docket_number">
    <element name="prior_docket_number">
      <optional>
        <attribute name="case_id">
          <data type="IDREFS"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="decision_date">
    <element name="decision_date">
      <text/>
    </element>
  </define>
  <define name="judges">
    <element name="judges">
      <optional>
        <attribute name="title">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="underline"/>
          <ref name="italics"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="cite"/>
          <ref name="footnote"/>
          <ref name="underline"/>
          <ref name="italics"/>
          <ref name="graphic"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="footnote">
    <element name="footnote">
      <attribute name="fnumber">
        <data type="NMTOKEN"/>
      </attribute>
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="cite"/>
          <ref name="fnquote"/>
          <ref name="underline"/>
          <ref name="italics"/>
          <ref name="graphic"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="underline">
    <element name="underline">
      <optional>
        <attribute name="ambig"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="party_ref">
    <element name="party_ref">
      <optional>
        <attribute name="party_id">
          <data type="IDREFS"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="italics">
    <element name="italics">
      <text/>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <optional>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="fnquote">
    <element name="fnquote">
      <zeroOrMore>
        <choice>
          <ref name="cite"/>
          <ref name="underline"/>
          <ref name="italics"/>
          <ref name="graphic"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <start>
    <choice>
      <ref name="case"/>
    </choice>
  </start>
</grammar>
