CourtOpinion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by DTDinst version 2002-07-24. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- <!DOCTYPE case [ -->
  <xs:element name="case">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element maxOccurs="unbounded" ref="opinion"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="concurr"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dissent"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ct_info"/>
        <xs:element ref="pty_info"/>
        <xs:element ref="dock_info"/>
        <xs:element ref="date_info"/>
        <xs:element ref="judge_info"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="opinion">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="section"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="paragraph"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="concurr">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="section"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="paragraph"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dissent">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="section"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="paragraph"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ct_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="court"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="prior_court"/>
        <xs:element ref="jurisdiction"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="prior_jurisdiction"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pty_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="parties"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="counsel"/>
        <xs:element ref="appearance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dock_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="docket_number"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="prior_docket_number"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="date_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="decision_date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="judge_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="judges"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType mixed="true">
      <xs:attribute name="title" type="xs:NMTOKEN"/>
      <xs:attribute name="judgeid" type="xs:IDREFS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="section">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="paragraph">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="cite"/>
        <xs:element ref="quote"/>
        <xs:element ref="footnote"/>
        <xs:element ref="underline"/>
        <xs:element ref="party_ref"/>
        <xs:element ref="italics"/>
        <xs:element ref="graphic"/>
      </xs:choice>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="ambig"/>
      <xs:attribute name="paraid" type="xs:IDREFS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="court" type="xs:string"/>
  <xs:element name="prior_court" type="xs:string"/>
  <xs:element name="jurisdiction" type="xs:string"/>
  <xs:element name="prior_jurisdiction" type="xs:string"/>
  <xs:element name="parties">
    <xs:complexType mixed="true">
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plaintiff"/>
            <xs:enumeration value="defendant"/>
            <xs:enumeration value="appellee"/>
            <xs:enumeration value="appellant"/>
            <xs:enumeration value="appellee-def"/>
            <xs:enumeration value="appellee-plain"/>
            <xs:enumeration value="appellant-def"/>
            <xs:enumeration value="appellant-palin"/>
            <xs:enumeration value="appellee-amicus"/>
            <xs:enumeration value="appellant-amicus"/>
            <xs:enumeration value="amicus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="counsel">
    <xs:complexType mixed="true">
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plaintiff"/>
            <xs:enumeration value="defendant"/>
            <xs:enumeration value="appellee"/>
            <xs:enumeration value="appellant"/>
            <xs:enumeration value="appellee-def"/>
            <xs:enumeration value="appellee-plain"/>
            <xs:enumeration value="appellant-def"/>
            <xs:enumeration value="appellant-palin"/>
            <xs:enumeration value="appellee-amicus"/>
            <xs:enumeration value="appellant-amicus"/>
            <xs:enumeration value="amicus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="appearance">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="status">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plaintiff"/>
            <xs:enumeration value="defendant"/>
            <xs:enumeration value="appellee"/>
            <xs:enumeration value="appellant"/>
            <xs:enumeration value="appellee-def"/>
            <xs:enumeration value="appellee-plain"/>
            <xs:enumeration value="appellant-def"/>
            <xs:enumeration value="appellant-palin"/>
            <xs:enumeration value="appellee-amicus"/>
            <xs:enumeration value="appellant-amicus"/>
            <xs:enumeration value="amicus"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="docket_number">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prior_docket_number">
    <xs:complexType mixed="true">
      <xs:attribute name="case_id" type="xs:IDREFS"/>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="decision_date" type="xs:string"/>
  <xs:element name="judges">
    <xs:complexType mixed="true">
      <xs:attribute name="title" type="xs:NMTOKEN"/>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cite">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="underline"/>
        <xs:element ref="italics"/>
      </xs:choice>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="cite"/>
        <xs:element ref="footnote"/>
        <xs:element ref="underline"/>
        <xs:element ref="italics"/>
        <xs:element ref="graphic"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="cite"/>
        <xs:element ref="fnquote"/>
        <xs:element ref="underline"/>
        <xs:element ref="italics"/>
        <xs:element ref="graphic"/>
      </xs:choice>
      <xs:attribute name="fnumber" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="underline">
    <xs:complexType mixed="true">
      <xs:attribute name="ambig"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="party_ref">
    <xs:complexType mixed="true">
      <xs:attribute name="party_id" type="xs:IDREFS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="italics" type="xs:string"/>
  <xs:element name="graphic">
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnquote">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="cite"/>
        <xs:element ref="underline"/>
        <xs:element ref="italics"/>
        <xs:element ref="graphic"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
